*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,Helvetica,sans-serif;
  background:#f3f6fb;
}

button{
  padding:15px 30px;
  background:#0066cc;
  color:white;
  border:none;
  border-radius:10px;
  cursor:pointer;
  font-size:18px;
}

button:hover{
  background:#004999;
}